---
import Page from '@components/Page.tsx'
import getUrl from '@functions/getUrl'

export interface Props {
  week: string
}

const { week } = Astro.props

async function getMyComics(week: string) {
  const url = getUrl(week)
  try {
    const response = await fetch(`${url}`)
    const data = await response.json()
    const { results } = data.data
    return results
  } catch {
    console.log('oh no')
  }
}

const myComics = await getMyComics(week)
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="theme-color" content="#881337" />
    <meta name="description" content="Marvel Comics releases" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.png" sizes="any" />
    <link rel="apple-touch-icon" href="/icon-512.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;1,300&display=swap"
      rel="stylesheet"
    />
    <title>Marvel Comics releases for {week} week</title>
  </head>
  <body>
    <Page {week} comics={myComics} />
    <slot />
  </body>
</html>
