---
import Page from '../components/Page.astro'
import { ViewTransitions } from 'astro:transitions'

export interface Props {
  week: string
  comics: []
  attributionText: string
}

const { comics, week, attributionText } = Astro.props
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="theme-color" content="#881337" />
    <meta name="description" content="Marvel Comics releases" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.png" sizes="any" />
    <link rel="apple-touch-icon" href="/icon-512.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;1,300&display=swap"
      rel="stylesheet"
    />
    <title>Marvel Comics releases for {week} week</title>
    <ViewTransitions />
  </head>
  <body class="bg-rose-900">
    <Page {week} {comics} transitions:animate="slide" {attributionText} />
    <slot />
  </body>
</html>
